# Ignore dataset folder
dataset/

# Ignore zip files
*.zip

# Ignore log files
*.log

.idea/

# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo
*.pyd

*.pt
*.pth
*.onnx
*.prototxt

Face-AntiSpoofing/

runs/

*.docx

**/output/

# Ignore video and image files
*.mp4
*.MOV
*.avi
*.jpg
*.jpeg
*.png
*.gif

!demo.png
